## EDA Exploratory Data Analysis

In [1]:
import pandas as pd
import numpy as np

# Set random seed for reproducibility
np.random.seed(42)

# Generate synthetic data
data = {
    'Age': np.random.randint(18, 60, 100),
    'Salary': np.random.randint(20000, 80000, 100).astype(float),
    'Experience': np.random.randint(0, 40, 100),
    'Department': np.random.choice(['HR', 'IT', 'Sales', 'Marketing'], 100)
}

df = pd.DataFrame(data)

# Introduce missing values randomly
for col in ['Age', 'Salary', 'Experience']:
    df.loc[np.random.choice(df.index, size=10, replace=False), col] = np.nan  # 10 missing values per column

# Introduce missing values in categorical column
df.loc[np.random.choice(df.index, size=5, replace=False), 'Department'] = np.nan  # 5 missing values

# Display first few rows
print(df.head())

# Save the dataset to a CSV file
df.to_csv('missing_data.csv', index=False)

    Age   Salary  Experience Department
0  56.0  28392.0        31.0         IT
1  46.0  50535.0        31.0         HR
2  32.0  33067.0        23.0  Marketing
3  25.0  68033.0        11.0  Marketing
4  38.0  72256.0        38.0  Marketing

## LOAD DATA

In [36]:
df

     Age   Salary  Experience Department
0   56.0  28392.0        31.0         IT
1   46.0  50535.0        31.0         HR
2   32.0  33067.0        23.0  Marketing
3   25.0  68033.0        11.0  Marketing
4   38.0  72256.0        38.0  Marketing
5   56.0      NaN         1.0  Marketing
6   36.0  55222.0         2.0        NaN
7   40.0  31837.0        36.0      Sales
8   28.0  34039.0        16.0      Sales
9   28.0  78148.0         1.0         HR
10   NaN  50818.0         1.0  Marketing
11  53.0  39115.0        27.0         HR
12  57.0  30965.0        22.0  Marketing
13  41.0  44538.0        36.0  Marketing
14  20.0  62530.0        31.0      Sales
15  39.0  25056.0        32.0      Sales
16  19.0  52482.0         0.0         IT
17  41.0  67716.0        18.0      Sales
18  47.0  28110.0         1.0         IT
19  55.0      NaN        25.0         IT
20  19.0  47266.0        31.0         IT
21  38.0      NaN         5.0         IT
22  50.0  37412.0        31.0         IT
23  29.0  76537.0         3.0         HR
24  39.0  53270.0        10.0      Sales
25  42.0  26910.0        16.0         IT
26  44.0  65453.0        37.0  Marketing
27  59.0  45446.0        23.0      Sales
28  45.0  76090.0         4.0      Sales
29  33.0      NaN         NaN         IT
30  32.0  20206.0         5.0         HR
31  20.0  41518.0         NaN         IT
32  54.0  42361.0        10.0         HR
33  24.0  76873.0        15.0  Marketing
34  38.0  43419.0        32.0      Sales
35  26.0  70636.0         8.0  Marketing
36  56.0      NaN         5.0         HR
37   NaN  68702.0        15.0         HR
38  21.0  70015.0        28.0  Marketing
39  42.0  71942.0         2.0         HR
40  31.0  76560.0         NaN  Marketing
41  26.0  61523.0        35.0      Sales
42  43.0  74268.0         NaN  Marketing
43  19.0  65151.0        25.0      Sales
44  37.0      NaN         2.0  Marketing
45  45.0  38141.0        18.0         HR
46  24.0  34820.0        19.0  Marketing
47  25.0  60342.0        31.0         HR
48  52.0  26374.0         6.0  Marketing
49  31.0  76044.0        32.0  Marketing
50  34.0  21678.0        39.0         IT
51  53.0  72394.0        38.0         HR
52  57.0  73788.0        17.0         IT
53  21.0  53827.0        39.0         HR
54  19.0  75820.0         0.0         IT
55  23.0  36198.0        10.0      Sales
56  59.0  29914.0        27.0  Marketing
57  21.0  47890.0        24.0         HR
58  46.0  72309.0        22.0         HR
59  35.0  42299.0        30.0  Marketing
60  43.0  63585.0         NaN         HR
61  51.0  63689.0         NaN         HR
62  27.0  62557.0         6.0         IT
63  53.0  69080.0        15.0         HR
64  31.0  64020.0        25.0      Sales
65  48.0  22693.0         1.0      Sales
66  32.0  49467.0         0.0  Marketing
67  25.0      NaN        11.0         HR
68  31.0  66699.0         4.0        NaN
69  40.0  23627.0        36.0      Sales
70  57.0  45939.0        31.0         HR
71   NaN  68925.0         8.0         HR
72   NaN  62941.0        34.0  Marketing
73  35.0  41834.0        18.0      Sales
74  41.0  38047.0        15.0         HR
75  43.0  46105.0         2.0  Marketing
76  42.0  30230.0        19.0      Sales
77   NaN  35707.0        23.0  Marketing
78   NaN  41976.0        32.0         IT
79  32.0  64262.0        23.0         HR
80  18.0  79581.0        10.0         IT
81  42.0  43776.0         7.0      Sales
82   NaN      NaN        35.0         IT
83  26.0  21306.0         NaN        NaN
84  41.0  26776.0        39.0      Sales
85   NaN  47251.0         NaN  Marketing
86  25.0  75016.0        34.0         IT
87  41.0  29474.0         NaN  Marketing
88  28.0  60294.0        34.0         IT
89   NaN  78053.0        24.0  Marketing
90  25.0  41959.0        28.0      Sales
91   NaN      NaN         NaN        NaN
92  52.0  49320.0        17.0      Sales
93  50.0  73565.0         1.0         IT
94  22.0  23748.0        34.0        NaN
95  59.0  51968.0        15.0      Sales
96  56.0  52562.0        35.0         IT
97  58.0  33545.0        32.0         IT
98  45.0      NaN         3.0         IT
99  24.0  54766.0        32.0         HR

## OBSERVE AND UNDERSTAND DATA USING info() and describe() methods

In [37]:
df.isnull().sum()

Age           10
Salary        10
Experience    10
Department     5
dtype: int64

In [38]:
df.head()

    Age   Salary  Experience Department
0  56.0  28392.0        31.0         IT
1  46.0  50535.0        31.0         HR
2  32.0  33067.0        23.0  Marketing
3  25.0  68033.0        11.0  Marketing
4  38.0  72256.0        38.0  Marketing

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Age         90 non-null     float64
 1   Salary      90 non-null     float64
 2   Experience  90 non-null     float64
 3   Department  95 non-null     object
dtypes: float64(3), object(1)
memory usage: 3.3+ KB

In [40]:
df.describe(include = 'all')

              Age        Salary  Experience Department
count   90.000000     90.000000   90.000000         95
unique        NaN           NaN         NaN          4
top           NaN           NaN         NaN  Marketing
freq          NaN           NaN         NaN         26
mean    37.911111  51451.088889   19.555556        NaN
std     12.301132  17746.512645   12.739491        NaN
min     18.000000  20206.000000    0.000000        NaN
25%     26.250000  36501.500000    7.250000        NaN
50%     38.500000  50676.500000   20.500000        NaN
75%     46.750000  67953.750000   31.000000        NaN
max     59.000000  79581.000000   39.000000        NaN

In [41]:
df['Department'].nunique()

4

In [42]:
df['Department'].head(10)

0           IT
1           HR
2    Marketing
3    Marketing
4    Marketing
5    Marketing
6          NaN
7        Sales
8        Sales
9           HR
Name: Department, dtype: object

## HANDLE MISSING VALUES

In [15]:
# df
pd.options.display.max_rows = 101
df

     Age   Salary  Experience Department
0   56.0  28392.0        31.0         IT
1   46.0  50535.0        31.0         HR
2   32.0  33067.0        23.0  Marketing
3   25.0  68033.0        11.0  Marketing
4   38.0  72256.0        38.0  Marketing
5   56.0      NaN         1.0  Marketing
6   36.0  55222.0         2.0        NaN
7   40.0  31837.0        36.0      Sales
8   28.0  34039.0        16.0      Sales
9   28.0  78148.0         1.0         HR
10   NaN  50818.0         1.0  Marketing
11  53.0  39115.0        27.0         HR
12  57.0  30965.0        22.0  Marketing
13  41.0  44538.0        36.0  Marketing
14  20.0  62530.0        31.0      Sales
15  39.0  25056.0        32.0      Sales
16  19.0  52482.0         0.0         IT
17  41.0  67716.0        18.0      Sales
18  47.0  28110.0         1.0         IT
19  55.0      NaN        25.0         IT
20  19.0  47266.0        31.0         IT
21  38.0      NaN         5.0         IT
22  50.0  37412.0        31.0         IT
23  29.0  76537.0         3.0         HR
24  39.0  53270.0        10.0      Sales
25  42.0  26910.0        16.0         IT
26  44.0  65453.0        37.0  Marketing
27  59.0  45446.0        23.0      Sales
28  45.0  76090.0         4.0      Sales
29  33.0      NaN         NaN         IT
30  32.0  20206.0         5.0         HR
31  20.0  41518.0         NaN         IT
32  54.0  42361.0        10.0         HR
33  24.0  76873.0        15.0  Marketing
34  38.0  43419.0        32.0      Sales
35  26.0  70636.0         8.0  Marketing
36  56.0      NaN         5.0         HR
37   NaN  68702.0        15.0         HR
38  21.0  70015.0        28.0  Marketing
39  42.0  71942.0         2.0         HR
40  31.0  76560.0         NaN  Marketing
41  26.0  61523.0        35.0      Sales
42  43.0  74268.0         NaN  Marketing
43  19.0  65151.0        25.0      Sales
44  37.0      NaN         2.0  Marketing
45  45.0  38141.0        18.0         HR
46  24.0  34820.0        19.0  Marketing
47  25.0  60342.0        31.0         HR
48  52.0  26374.0         6.0  Marketing
49  31.0  76044.0        32.0  Marketing
50  34.0  21678.0        39.0         IT
51  53.0  72394.0        38.0         HR
52  57.0  73788.0        17.0         IT
53  21.0  53827.0        39.0         HR
54  19.0  75820.0         0.0         IT
55  23.0  36198.0        10.0      Sales
56  59.0  29914.0        27.0  Marketing
57  21.0  47890.0        24.0         HR
58  46.0  72309.0        22.0         HR
59  35.0  42299.0        30.0  Marketing
60  43.0  63585.0         NaN         HR
61  51.0  63689.0         NaN         HR
62  27.0  62557.0         6.0         IT
63  53.0  69080.0        15.0         HR
64  31.0  64020.0        25.0      Sales
65  48.0  22693.0         1.0      Sales
66  32.0  49467.0         0.0  Marketing
67  25.0      NaN        11.0         HR
68  31.0  66699.0         4.0        NaN
69  40.0  23627.0        36.0      Sales
70  57.0  45939.0        31.0         HR
71   NaN  68925.0         8.0         HR
72   NaN  62941.0        34.0  Marketing
73  35.0  41834.0        18.0      Sales
74  41.0  38047.0        15.0         HR
75  43.0  46105.0         2.0  Marketing
76  42.0  30230.0        19.0      Sales
77   NaN  35707.0        23.0  Marketing
78   NaN  41976.0        32.0         IT
79  32.0  64262.0        23.0         HR
80  18.0  79581.0        10.0         IT
81  42.0  43776.0         7.0      Sales
82   NaN      NaN        35.0         IT
83  26.0  21306.0         NaN        NaN
84  41.0  26776.0        39.0      Sales
85   NaN  47251.0         NaN  Marketing
86  25.0  75016.0        34.0         IT
87  41.0  29474.0         NaN  Marketing
88  28.0  60294.0        34.0         IT
89   NaN  78053.0        24.0  Marketing
90  25.0  41959.0        28.0      Sales
91   NaN      NaN         NaN        NaN
92  52.0  49320.0        17.0      Sales
93  50.0  73565.0         1.0         IT
94  22.0  23748.0        34.0        NaN
95  59.0  51968.0        15.0      Sales
96  56.0  52562.0        35.0         IT
97  58.0  33545.0        32.0         IT
98  45.0      NaN         3.0         IT
99  24.0  54766.0        32.0         HR

#### Handle first feature with misssing values "age"

In [50]:
import warnings
warnings.filterwarnings("ignore")
df['Age'].fillna(df['Age'].mean().round(), inplace = True )
df1 = df

          Age   Salary  Experience Department
0   56.000000  28392.0        31.0         IT
1   46.000000  50535.0        31.0         HR
2   32.000000  33067.0        23.0  Marketing
3   25.000000  68033.0        11.0  Marketing
4   38.000000  72256.0        38.0  Marketing
5   56.000000      NaN         1.0  Marketing
6   36.000000  55222.0         2.0        NaN
7   40.000000  31837.0        36.0      Sales
8   28.000000  34039.0        16.0      Sales
9   28.000000  78148.0         1.0         HR
10  37.911111  50818.0         1.0  Marketing
11  53.000000  39115.0        27.0         HR
12  57.000000  30965.0        22.0  Marketing
13  41.000000  44538.0        36.0  Marketing
14  20.000000  62530.0        31.0      Sales
15  39.000000  25056.0        32.0      Sales
16  19.000000  52482.0         0.0         IT
17  41.000000  67716.0        18.0      Sales
18  47.000000  28110.0         1.0         IT
19  55.000000      NaN        25.0         IT
20  19.000000  47266.0        31.0         IT
21  38.000000      NaN         5.0         IT
22  50.000000  37412.0        31.0         IT
23  29.000000  76537.0         3.0         HR
24  39.000000  53270.0        10.0      Sales
25  42.000000  26910.0        16.0         IT
26  44.000000  65453.0        37.0  Marketing
27  59.000000  45446.0        23.0      Sales
28  45.000000  76090.0         4.0      Sales
29  33.000000      NaN         NaN         IT
30  32.000000  20206.0         5.0         HR
31  20.000000  41518.0         NaN         IT
32  54.000000  42361.0        10.0         HR
33  24.000000  76873.0        15.0  Marketing
34  38.000000  43419.0        32.0      Sales
35  26.000000  70636.0         8.0  Marketing
36  56.000000      NaN         5.0         HR
37  37.911111  68702.0        15.0         HR
38  21.000000  70015.0        28.0  Marketing
39  42.000000  71942.0         2.0         HR
40  31.000000  76560.0         NaN  Marketing
41  26.000000  61523.0        35.0      Sales
42  43.000000  74268.0         NaN  Marketing
43  19.000000  65151.0        25.0      Sales
44  37.000000      NaN         2.0  Marketing
45  45.000000  38141.0        18.0         HR
46  24.000000  34820.0        19.0  Marketing
47  25.000000  60342.0        31.0         HR
48  52.000000  26374.0         6.0  Marketing
49  31.000000  76044.0        32.0  Marketing
50  34.000000  21678.0        39.0         IT
51  53.000000  72394.0        38.0         HR
52  57.000000  73788.0        17.0         IT
53  21.000000  53827.0        39.0         HR
54  19.000000  75820.0         0.0         IT
55  23.000000  36198.0        10.0      Sales
56  59.000000  29914.0        27.0  Marketing
57  21.000000  47890.0        24.0         HR
58  46.000000  72309.0        22.0         HR
59  35.000000  42299.0        30.0  Marketing
60  43.000000  63585.0         NaN         HR
61  51.000000  63689.0         NaN         HR
62  27.000000  62557.0         6.0         IT
63  53.000000  69080.0        15.0         HR
64  31.000000  64020.0        25.0      Sales
65  48.000000  22693.0         1.0      Sales
66  32.000000  49467.0         0.0  Marketing
67  25.000000      NaN        11.0         HR
68  31.000000  66699.0         4.0        NaN
69  40.000000  23627.0        36.0      Sales
70  57.000000  45939.0        31.0         HR
71  37.911111  68925.0         8.0         HR
72  37.911111  62941.0        34.0  Marketing
73  35.000000  41834.0        18.0      Sales
74  41.000000  38047.0        15.0         HR
75  43.000000  46105.0         2.0  Marketing
76  42.000000  30230.0        19.0      Sales
77  37.911111  35707.0        23.0  Marketing
78  37.911111  41976.0        32.0         IT
79  32.000000  64262.0        23.0         HR
80  18.000000  79581.0        10.0         IT
81  42.000000  43776.0         7.0      Sales
82  37.911111      NaN        35.0         IT
83  26.000000  21306.0         NaN        NaN
84  41.000000  26776.0        39.0      Sales
85  37.911111  47251.0         NaN  Marketing
86  25.000000  75016.0        34.0         IT
87  41.000000  29474.0         NaN  Marketing
88  28.000000  60294.0        34.0         IT
89  37.911111  78053.0        24.0  Marketing
90  25.000000  41959.0        28.0      Sales
91  37.911111      NaN         NaN        NaN
92  52.000000  49320.0        17.0      Sales
93  50.000000  73565.0         1.0         IT
94  22.000000  23748.0        34.0        NaN
95  59.000000  51968.0        15.0      Sales
96  56.000000  52562.0        35.0         IT
97  58.000000  33545.0        32.0         IT
98  45.000000      NaN         3.0         IT
99  24.000000  54766.0        32.0         HR

In [47]:
df['Age'].mean().round()

38.0

In [51]:
df['Salary'].fillna(df['Salary'].median(), inplace =True)
df

          Age   Salary  Experience Department
0   56.000000  28392.0        31.0         IT
1   46.000000  50535.0        31.0         HR
2   32.000000  33067.0        23.0  Marketing
3   25.000000  68033.0        11.0  Marketing
4   38.000000  72256.0        38.0  Marketing
5   56.000000  50676.5         1.0  Marketing
6   36.000000  55222.0         2.0        NaN
7   40.000000  31837.0        36.0      Sales
8   28.000000  34039.0        16.0      Sales
9   28.000000  78148.0         1.0         HR
10  37.911111  50818.0         1.0  Marketing
11  53.000000  39115.0        27.0         HR
12  57.000000  30965.0        22.0  Marketing
13  41.000000  44538.0        36.0  Marketing
14  20.000000  62530.0        31.0      Sales
15  39.000000  25056.0        32.0      Sales
16  19.000000  52482.0         0.0         IT
17  41.000000  67716.0        18.0      Sales
18  47.000000  28110.0         1.0         IT
19  55.000000  50676.5        25.0         IT
20  19.000000  47266.0        31.0         IT
21  38.000000  50676.5         5.0         IT
22  50.000000  37412.0        31.0         IT
23  29.000000  76537.0         3.0         HR
24  39.000000  53270.0        10.0      Sales
25  42.000000  26910.0        16.0         IT
26  44.000000  65453.0        37.0  Marketing
27  59.000000  45446.0        23.0      Sales
28  45.000000  76090.0         4.0      Sales
29  33.000000  50676.5         NaN         IT
30  32.000000  20206.0         5.0         HR
31  20.000000  41518.0         NaN         IT
32  54.000000  42361.0        10.0         HR
33  24.000000  76873.0        15.0  Marketing
34  38.000000  43419.0        32.0      Sales
35  26.000000  70636.0         8.0  Marketing
36  56.000000  50676.5         5.0         HR
37  37.911111  68702.0        15.0         HR
38  21.000000  70015.0        28.0  Marketing
39  42.000000  71942.0         2.0         HR
40  31.000000  76560.0         NaN  Marketing
41  26.000000  61523.0        35.0      Sales
42  43.000000  74268.0         NaN  Marketing
43  19.000000  65151.0        25.0      Sales
44  37.000000  50676.5         2.0  Marketing
45  45.000000  38141.0        18.0         HR
46  24.000000  34820.0        19.0  Marketing
47  25.000000  60342.0        31.0         HR
48  52.000000  26374.0         6.0  Marketing
49  31.000000  76044.0        32.0  Marketing
50  34.000000  21678.0        39.0         IT
51  53.000000  72394.0        38.0         HR
52  57.000000  73788.0        17.0         IT
53  21.000000  53827.0        39.0         HR
54  19.000000  75820.0         0.0         IT
55  23.000000  36198.0        10.0      Sales
56  59.000000  29914.0        27.0  Marketing
57  21.000000  47890.0        24.0         HR
58  46.000000  72309.0        22.0         HR
59  35.000000  42299.0        30.0  Marketing
60  43.000000  63585.0         NaN         HR
61  51.000000  63689.0         NaN         HR
62  27.000000  62557.0         6.0         IT
63  53.000000  69080.0        15.0         HR
64  31.000000  64020.0        25.0      Sales
65  48.000000  22693.0         1.0      Sales
66  32.000000  49467.0         0.0  Marketing
67  25.000000  50676.5        11.0         HR
68  31.000000  66699.0         4.0        NaN
69  40.000000  23627.0        36.0      Sales
70  57.000000  45939.0        31.0         HR
71  37.911111  68925.0         8.0         HR
72  37.911111  62941.0        34.0  Marketing
73  35.000000  41834.0        18.0      Sales
74  41.000000  38047.0        15.0         HR
75  43.000000  46105.0         2.0  Marketing
76  42.000000  30230.0        19.0      Sales
77  37.911111  35707.0        23.0  Marketing
78  37.911111  41976.0        32.0         IT
79  32.000000  64262.0        23.0         HR
80  18.000000  79581.0        10.0         IT
81  42.000000  43776.0         7.0      Sales
82  37.911111  50676.5        35.0         IT
83  26.000000  21306.0         NaN        NaN
84  41.000000  26776.0        39.0      Sales
85  37.911111  47251.0         NaN  Marketing
86  25.000000  75016.0        34.0         IT
87  41.000000  29474.0         NaN  Marketing
88  28.000000  60294.0        34.0         IT
89  37.911111  78053.0        24.0  Marketing
90  25.000000  41959.0        28.0      Sales
91  37.911111  50676.5         NaN        NaN
92  52.000000  49320.0        17.0      Sales
93  50.000000  73565.0         1.0         IT
94  22.000000  23748.0        34.0        NaN
95  59.000000  51968.0        15.0      Sales
96  56.000000  52562.0        35.0         IT
97  58.000000  33545.0        32.0         IT
98  45.000000  50676.5         3.0         IT
99  24.000000  54766.0        32.0         HR

In [54]:
df['Department'].value_counts()

Department
Marketing    26
HR           24
IT           23
Sales        22
Name: count, dtype: int64

In [56]:
df['Department'] = df['Department'].map({"Marketing" : 0, "HR" : 1, "IT" : 2, "Sales" : 3})

In [57]:
df

          Age   Salary  Experience  Department
0   56.000000  28392.0        31.0         2.0
1   46.000000  50535.0        31.0         1.0
2   32.000000  33067.0        23.0         0.0
3   25.000000  68033.0        11.0         0.0
4   38.000000  72256.0        38.0         0.0
5   56.000000  50676.5         1.0         0.0
6   36.000000  55222.0         2.0         NaN
7   40.000000  31837.0        36.0         3.0
8   28.000000  34039.0        16.0         3.0
9   28.000000  78148.0         1.0         1.0
10  37.911111  50818.0         1.0         0.0
11  53.000000  39115.0        27.0         1.0
12  57.000000  30965.0        22.0         0.0
13  41.000000  44538.0        36.0         0.0
14  20.000000  62530.0        31.0         3.0
15  39.000000  25056.0        32.0         3.0
16  19.000000  52482.0         0.0         2.0
17  41.000000  67716.0        18.0         3.0
18  47.000000  28110.0         1.0         2.0
19  55.000000  50676.5        25.0         2.0
20  19.000000  47266.0        31.0         2.0
21  38.000000  50676.5         5.0         2.0
22  50.000000  37412.0        31.0         2.0
23  29.000000  76537.0         3.0         1.0
24  39.000000  53270.0        10.0         3.0
25  42.000000  26910.0        16.0         2.0
26  44.000000  65453.0        37.0         0.0
27  59.000000  45446.0        23.0         3.0
28  45.000000  76090.0         4.0         3.0
29  33.000000  50676.5         NaN         2.0
30  32.000000  20206.0         5.0         1.0
31  20.000000  41518.0         NaN         2.0
32  54.000000  42361.0        10.0         1.0
33  24.000000  76873.0        15.0         0.0
34  38.000000  43419.0        32.0         3.0
35  26.000000  70636.0         8.0         0.0
36  56.000000  50676.5         5.0         1.0
37  37.911111  68702.0        15.0         1.0
38  21.000000  70015.0        28.0         0.0
39  42.000000  71942.0         2.0         1.0
40  31.000000  76560.0         NaN         0.0
41  26.000000  61523.0        35.0         3.0
42  43.000000  74268.0         NaN         0.0
43  19.000000  65151.0        25.0         3.0
44  37.000000  50676.5         2.0         0.0
45  45.000000  38141.0        18.0         1.0
46  24.000000  34820.0        19.0         0.0
47  25.000000  60342.0        31.0         1.0
48  52.000000  26374.0         6.0         0.0
49  31.000000  76044.0        32.0         0.0
50  34.000000  21678.0        39.0         2.0
51  53.000000  72394.0        38.0         1.0
52  57.000000  73788.0        17.0         2.0
53  21.000000  53827.0        39.0         1.0
54  19.000000  75820.0         0.0         2.0
55  23.000000  36198.0        10.0         3.0
56  59.000000  29914.0        27.0         0.0
57  21.000000  47890.0        24.0         1.0
58  46.000000  72309.0        22.0         1.0
59  35.000000  42299.0        30.0         0.0
60  43.000000  63585.0         NaN         1.0
61  51.000000  63689.0         NaN         1.0
62  27.000000  62557.0         6.0         2.0
63  53.000000  69080.0        15.0         1.0
64  31.000000  64020.0        25.0         3.0
65  48.000000  22693.0         1.0         3.0
66  32.000000  49467.0         0.0         0.0
67  25.000000  50676.5        11.0         1.0
68  31.000000  66699.0         4.0         NaN
69  40.000000  23627.0        36.0         3.0
70  57.000000  45939.0        31.0         1.0
71  37.911111  68925.0         8.0         1.0
72  37.911111  62941.0        34.0         0.0
73  35.000000  41834.0        18.0         3.0
74  41.000000  38047.0        15.0         1.0
75  43.000000  46105.0         2.0         0.0
76  42.000000  30230.0        19.0         3.0
77  37.911111  35707.0        23.0         0.0
78  37.911111  41976.0        32.0         2.0
79  32.000000  64262.0        23.0         1.0
80  18.000000  79581.0        10.0         2.0
81  42.000000  43776.0         7.0         3.0
82  37.911111  50676.5        35.0         2.0
83  26.000000  21306.0         NaN         NaN
84  41.000000  26776.0        39.0         3.0
85  37.911111  47251.0         NaN         0.0
86  25.000000  75016.0        34.0         2.0
87  41.000000  29474.0         NaN         0.0
88  28.000000  60294.0        34.0         2.0
89  37.911111  78053.0        24.0         0.0
90  25.000000  41959.0        28.0         3.0
91  37.911111  50676.5         NaN         NaN
92  52.000000  49320.0        17.0         3.0
93  50.000000  73565.0         1.0         2.0
94  22.000000  23748.0        34.0         NaN
95  59.000000  51968.0        15.0         3.0
96  56.000000  52562.0        35.0         2.0
97  58.000000  33545.0        32.0         2.0
98  45.000000  50676.5         3.0         2.0
99  24.000000  54766.0        32.0         1.0

In [58]:
df['Department'].dtype

dtype('float64')

In [60]:
df['Department'].fillna(df['Department'].mode(), inplace = True)
df

          Age   Salary  Experience  Department
0   56.000000  28392.0        31.0         2.0
1   46.000000  50535.0        31.0         1.0
2   32.000000  33067.0        23.0         0.0
3   25.000000  68033.0        11.0         0.0
4   38.000000  72256.0        38.0         0.0
5   56.000000  50676.5         1.0         0.0
6   36.000000  55222.0         2.0         NaN
7   40.000000  31837.0        36.0         3.0
8   28.000000  34039.0        16.0         3.0
9   28.000000  78148.0         1.0         1.0
10  37.911111  50818.0         1.0         0.0
11  53.000000  39115.0        27.0         1.0
12  57.000000  30965.0        22.0         0.0
13  41.000000  44538.0        36.0         0.0
14  20.000000  62530.0        31.0         3.0
15  39.000000  25056.0        32.0         3.0
16  19.000000  52482.0         0.0         2.0
17  41.000000  67716.0        18.0         3.0
18  47.000000  28110.0         1.0         2.0
19  55.000000  50676.5        25.0         2.0
20  19.000000  47266.0        31.0         2.0
21  38.000000  50676.5         5.0         2.0
22  50.000000  37412.0        31.0         2.0
23  29.000000  76537.0         3.0         1.0
24  39.000000  53270.0        10.0         3.0
25  42.000000  26910.0        16.0         2.0
26  44.000000  65453.0        37.0         0.0
27  59.000000  45446.0        23.0         3.0
28  45.000000  76090.0         4.0         3.0
29  33.000000  50676.5         NaN         2.0
30  32.000000  20206.0         5.0         1.0
31  20.000000  41518.0         NaN         2.0
32  54.000000  42361.0        10.0         1.0
33  24.000000  76873.0        15.0         0.0
34  38.000000  43419.0        32.0         3.0
35  26.000000  70636.0         8.0         0.0
36  56.000000  50676.5         5.0         1.0
37  37.911111  68702.0        15.0         1.0
38  21.000000  70015.0        28.0         0.0
39  42.000000  71942.0         2.0         1.0
40  31.000000  76560.0         NaN         0.0
41  26.000000  61523.0        35.0         3.0
42  43.000000  74268.0         NaN         0.0
43  19.000000  65151.0        25.0         3.0
44  37.000000  50676.5         2.0         0.0
45  45.000000  38141.0        18.0         1.0
46  24.000000  34820.0        19.0         0.0
47  25.000000  60342.0        31.0         1.0
48  52.000000  26374.0         6.0         0.0
49  31.000000  76044.0        32.0         0.0
50  34.000000  21678.0        39.0         2.0
51  53.000000  72394.0        38.0         1.0
52  57.000000  73788.0        17.0         2.0
53  21.000000  53827.0        39.0         1.0
54  19.000000  75820.0         0.0         2.0
55  23.000000  36198.0        10.0         3.0
56  59.000000  29914.0        27.0         0.0
57  21.000000  47890.0        24.0         1.0
58  46.000000  72309.0        22.0         1.0
59  35.000000  42299.0        30.0         0.0
60  43.000000  63585.0         NaN         1.0
61  51.000000  63689.0         NaN         1.0
62  27.000000  62557.0         6.0         2.0
63  53.000000  69080.0        15.0         1.0
64  31.000000  64020.0        25.0         3.0
65  48.000000  22693.0         1.0         3.0
66  32.000000  49467.0         0.0         0.0
67  25.000000  50676.5        11.0         1.0
68  31.000000  66699.0         4.0         NaN
69  40.000000  23627.0        36.0         3.0
70  57.000000  45939.0        31.0         1.0
71  37.911111  68925.0         8.0         1.0
72  37.911111  62941.0        34.0         0.0
73  35.000000  41834.0        18.0         3.0
74  41.000000  38047.0        15.0         1.0
75  43.000000  46105.0         2.0         0.0
76  42.000000  30230.0        19.0         3.0
77  37.911111  35707.0        23.0         0.0
78  37.911111  41976.0        32.0         2.0
79  32.000000  64262.0        23.0         1.0
80  18.000000  79581.0        10.0         2.0
81  42.000000  43776.0         7.0         3.0
82  37.911111  50676.5        35.0         2.0
83  26.000000  21306.0         NaN         NaN
84  41.000000  26776.0        39.0         3.0
85  37.911111  47251.0         NaN         0.0
86  25.000000  75016.0        34.0         2.0
87  41.000000  29474.0         NaN         0.0
88  28.000000  60294.0        34.0         2.0
89  37.911111  78053.0        24.0         0.0
90  25.000000  41959.0        28.0         3.0
91  37.911111  50676.5         NaN         NaN
92  52.000000  49320.0        17.0         3.0
93  50.000000  73565.0         1.0         2.0
94  22.000000  23748.0        34.0         NaN
95  59.000000  51968.0        15.0         3.0
96  56.000000  52562.0        35.0         2.0
97  58.000000  33545.0        32.0         2.0
98  45.000000  50676.5         3.0         2.0
99  24.000000  54766.0        32.0         1.0

In [ ]:
Hadoop 3.3.1 winutils

For Hadoop 3.3.1 winutils, please download from hadoop-3.3.1/bin

## GENERATE SYNTHETIC DATA FOR OUR CLASS

In [1]:
import pandas as pd
import numpy as np

# Define the corrected columns for the student data with matching probabilities
data = {
    'student_id': np.arange(1, 101),
    'name': [f'Student {i}' for i in range(1, 101)],
    'age': np.random.choice([None, 18, 19, 20, 21], size=100, p=[0.1, 0.3, 0.3, 0.2, 0.1]),
    'gender': np.random.choice([None, 'Male', 'Female'], size=100, p=[0.05, 0.475, 0.475]),
    'grade': np.random.choice([None, 'A', 'B', 'C', 'D', 'F'], size=100, p=[0.1, 0.2, 0.3, 0.2, 0.1, 0.1]),
    'score': np.random.choice([None, 85, 90, 75, 80, 95], size=100, p=[0.1, 0.2, 0.3, 0.2, 0.1, 0.1])
}

# Create the DataFrame
df = pd.DataFrame(data)

# Print the first few rows of the DataFrame
print(df.head())

   student_id       name age  gender grade score
0           1  Student 1  21  Female  None    90
1           2  Student 2  20  Female     B    85
2           3  Student 3  20  Female     C    75
3           4  Student 4  19    Male     A    95
4           5  Student 5  18    Male  None    95

In [2]:
# Save the DataFrame to a CSV file
df.to_csv("student_data.csv", index=False)

print("CSV file saved successfully!")

CSV file saved successfully!

## EDA CLASS CONT'D

##### FORWARD/BACKWARD FILL

Best for time series and so other sequential data

In [6]:
#generate time data with null values
import pandas as pd
import numpy as np

# Generate a time series DataFrame
date_range = pd.date_range(start="2024-01-01", periods=100, freq='D')

# Generate random values
data = {
    'date': date_range.astype(object),  # Convert to object to allow NaN insertion
    'value': np.random.randint(50, 150, size=100).astype(float)  # Random values
}

df_time_series = pd.DataFrame(data)

# Introduce NaN values randomly in the date column
null_indices = np.random.choice(df_time_series.index, size=10, replace=False)  # Randomly select 10 rows
df_time_series.loc[null_indices, 'date'] = np.nan


df_time_series

                   date  value
0   2024-01-01 00:00:00   70.0
1   2024-01-02 00:00:00  130.0
2   2024-01-03 00:00:00  107.0
3   2024-01-04 00:00:00   61.0
4   2024-01-05 00:00:00  125.0
5   2024-01-06 00:00:00  128.0
6                   NaN   71.0
7   2024-01-08 00:00:00  107.0
8   2024-01-09 00:00:00   55.0
9   2024-01-10 00:00:00  129.0
10                  NaN  143.0
11                  NaN  116.0
12                  NaN   62.0
13  2024-01-14 00:00:00   74.0
14  2024-01-15 00:00:00  140.0
15  2024-01-16 00:00:00   55.0
16  2024-01-17 00:00:00  135.0
17  2024-01-18 00:00:00  141.0
18                  NaN   73.0
19  2024-01-20 00:00:00   90.0
20                  NaN  113.0
21  2024-01-22 00:00:00  122.0
22                  NaN   58.0
23  2024-01-24 00:00:00   91.0
24                  NaN   89.0
25  2024-01-26 00:00:00  149.0
26  2024-01-27 00:00:00   81.0
27  2024-01-28 00:00:00   55.0
28  2024-01-29 00:00:00   92.0
29  2024-01-30 00:00:00  133.0
30  2024-01-31 00:00:00  119.0
31  2024-02-01 00:00:00  104.0
32  2024-02-02 00:00:00  131.0
33  2024-02-03 00:00:00  120.0
34  2024-02-04 00:00:00   55.0
35  2024-02-05 00:00:00  131.0
36                  NaN   95.0
37  2024-02-07 00:00:00   89.0
38  2024-02-08 00:00:00   59.0
39                  NaN  122.0
40  2024-02-10 00:00:00   91.0
41  2024-02-11 00:00:00   64.0
42  2024-02-12 00:00:00   60.0
43  2024-02-13 00:00:00  119.0
44  2024-02-14 00:00:00  148.0
45  2024-02-15 00:00:00  111.0
46  2024-02-16 00:00:00   97.0
47  2024-02-17 00:00:00  115.0
48  2024-02-18 00:00:00  137.0
49  2024-02-19 00:00:00   52.0
50  2024-02-20 00:00:00  143.0
51  2024-02-21 00:00:00   81.0
52  2024-02-22 00:00:00  149.0
53  2024-02-23 00:00:00   65.0
54  2024-02-24 00:00:00   59.0
55  2024-02-25 00:00:00   96.0
56  2024-02-26 00:00:00  112.0
57  2024-02-27 00:00:00   52.0
58  2024-02-28 00:00:00  127.0
59  2024-02-29 00:00:00  117.0
60  2024-03-01 00:00:00  131.0
61  2024-03-02 00:00:00   81.0
62  2024-03-03 00:00:00   52.0
63  2024-03-04 00:00:00   79.0
64  2024-03-05 00:00:00   99.0
65  2024-03-06 00:00:00  145.0
66  2024-03-07 00:00:00  107.0
67  2024-03-08 00:00:00   97.0
68  2024-03-09 00:00:00   99.0
69  2024-03-10 00:00:00  145.0
70  2024-03-11 00:00:00   65.0
71  2024-03-12 00:00:00   60.0
72  2024-03-13 00:00:00   57.0
73  2024-03-14 00:00:00   73.0
74  2024-03-15 00:00:00  124.0
75  2024-03-16 00:00:00  109.0
76  2024-03-17 00:00:00  118.0
77  2024-03-18 00:00:00  101.0
78  2024-03-19 00:00:00   96.0
79  2024-03-20 00:00:00  112.0
80  2024-03-21 00:00:00   91.0
81  2024-03-22 00:00:00  142.0
82  2024-03-23 00:00:00  113.0
83  2024-03-24 00:00:00  148.0
84  2024-03-25 00:00:00  119.0
85  2024-03-26 00:00:00   85.0
86  2024-03-27 00:00:00   66.0
87  2024-03-28 00:00:00  100.0
88  2024-03-29 00:00:00  132.0
89  2024-03-30 00:00:00  119.0
90  2024-03-31 00:00:00  104.0
91  2024-04-01 00:00:00  108.0
92  2024-04-02 00:00:00  110.0
93  2024-04-03 00:00:00   78.0
94  2024-04-04 00:00:00   78.0
95  2024-04-05 00:00:00  107.0
96  2024-04-06 00:00:00  135.0
97  2024-04-07 00:00:00  142.0
98  2024-04-08 00:00:00   78.0
99  2024-04-09 00:00:00   80.0

In [8]:
pd.options.display.max_rows = 101
df_time_series

                   date  value
0   2024-01-01 00:00:00   70.0
1   2024-01-02 00:00:00  130.0
2   2024-01-03 00:00:00  107.0
3   2024-01-04 00:00:00   61.0
4   2024-01-05 00:00:00  125.0
5   2024-01-06 00:00:00  128.0
6                   NaN   71.0
7   2024-01-08 00:00:00  107.0
8   2024-01-09 00:00:00   55.0
9   2024-01-10 00:00:00  129.0
10                  NaN  143.0
11                  NaN  116.0
12                  NaN   62.0
13  2024-01-14 00:00:00   74.0
14  2024-01-15 00:00:00  140.0
15  2024-01-16 00:00:00   55.0
16  2024-01-17 00:00:00  135.0
17  2024-01-18 00:00:00  141.0
18                  NaN   73.0
19  2024-01-20 00:00:00   90.0
20                  NaN  113.0
21  2024-01-22 00:00:00  122.0
22                  NaN   58.0
23  2024-01-24 00:00:00   91.0
24                  NaN   89.0
25  2024-01-26 00:00:00  149.0
26  2024-01-27 00:00:00   81.0
27  2024-01-28 00:00:00   55.0
28  2024-01-29 00:00:00   92.0
29  2024-01-30 00:00:00  133.0
30  2024-01-31 00:00:00  119.0
31  2024-02-01 00:00:00  104.0
32  2024-02-02 00:00:00  131.0
33  2024-02-03 00:00:00  120.0
34  2024-02-04 00:00:00   55.0
35  2024-02-05 00:00:00  131.0
36                  NaN   95.0
37  2024-02-07 00:00:00   89.0
38  2024-02-08 00:00:00   59.0
39                  NaN  122.0
40  2024-02-10 00:00:00   91.0
41  2024-02-11 00:00:00   64.0
42  2024-02-12 00:00:00   60.0
43  2024-02-13 00:00:00  119.0
44  2024-02-14 00:00:00  148.0
45  2024-02-15 00:00:00  111.0
46  2024-02-16 00:00:00   97.0
47  2024-02-17 00:00:00  115.0
48  2024-02-18 00:00:00  137.0
49  2024-02-19 00:00:00   52.0
50  2024-02-20 00:00:00  143.0
51  2024-02-21 00:00:00   81.0
52  2024-02-22 00:00:00  149.0
53  2024-02-23 00:00:00   65.0
54  2024-02-24 00:00:00   59.0
55  2024-02-25 00:00:00   96.0
56  2024-02-26 00:00:00  112.0
57  2024-02-27 00:00:00   52.0
58  2024-02-28 00:00:00  127.0
59  2024-02-29 00:00:00  117.0
60  2024-03-01 00:00:00  131.0
61  2024-03-02 00:00:00   81.0
62  2024-03-03 00:00:00   52.0
63  2024-03-04 00:00:00   79.0
64  2024-03-05 00:00:00   99.0
65  2024-03-06 00:00:00  145.0
66  2024-03-07 00:00:00  107.0
67  2024-03-08 00:00:00   97.0
68  2024-03-09 00:00:00   99.0
69  2024-03-10 00:00:00  145.0
70  2024-03-11 00:00:00   65.0
71  2024-03-12 00:00:00   60.0
72  2024-03-13 00:00:00   57.0
73  2024-03-14 00:00:00   73.0
74  2024-03-15 00:00:00  124.0
75  2024-03-16 00:00:00  109.0
76  2024-03-17 00:00:00  118.0
77  2024-03-18 00:00:00  101.0
78  2024-03-19 00:00:00   96.0
79  2024-03-20 00:00:00  112.0
80  2024-03-21 00:00:00   91.0
81  2024-03-22 00:00:00  142.0
82  2024-03-23 00:00:00  113.0
83  2024-03-24 00:00:00  148.0
84  2024-03-25 00:00:00  119.0
85  2024-03-26 00:00:00   85.0
86  2024-03-27 00:00:00   66.0
87  2024-03-28 00:00:00  100.0
88  2024-03-29 00:00:00  132.0
89  2024-03-30 00:00:00  119.0
90  2024-03-31 00:00:00  104.0
91  2024-04-01 00:00:00  108.0
92  2024-04-02 00:00:00  110.0
93  2024-04-03 00:00:00   78.0
94  2024-04-04 00:00:00   78.0
95  2024-04-05 00:00:00  107.0
96  2024-04-06 00:00:00  135.0
97  2024-04-07 00:00:00  142.0
98  2024-04-08 00:00:00   78.0
99  2024-04-09 00:00:00   80.0

In [7]:
df = df_time_series.copy()
df.isna().sum()

date     10
value     0
dtype: int64

###### USING FORWARD_FILL

In [11]:
import warnings
warnings.filterwarnings("ignore")
df['date'].fillna(method = 'ffill', inplace =  True)
df

         date  value
0  2024-01-01   70.0
1  2024-01-02  130.0
2  2024-01-03  107.0
3  2024-01-04   61.0
4  2024-01-05  125.0
5  2024-01-06  128.0
6  2024-01-06   71.0
7  2024-01-08  107.0
8  2024-01-09   55.0
9  2024-01-10  129.0
10 2024-01-10  143.0
11 2024-01-10  116.0
12 2024-01-10   62.0
13 2024-01-14   74.0
14 2024-01-15  140.0
15 2024-01-16   55.0
16 2024-01-17  135.0
17 2024-01-18  141.0
18 2024-01-18   73.0
19 2024-01-20   90.0
20 2024-01-20  113.0
21 2024-01-22  122.0
22 2024-01-22   58.0
23 2024-01-24   91.0
24 2024-01-24   89.0
25 2024-01-26  149.0
26 2024-01-27   81.0
27 2024-01-28   55.0
28 2024-01-29   92.0
29 2024-01-30  133.0
30 2024-01-31  119.0
31 2024-02-01  104.0
32 2024-02-02  131.0
33 2024-02-03  120.0
34 2024-02-04   55.0
35 2024-02-05  131.0
36 2024-02-05   95.0
37 2024-02-07   89.0
38 2024-02-08   59.0
39 2024-02-08  122.0
40 2024-02-10   91.0
41 2024-02-11   64.0
42 2024-02-12   60.0
43 2024-02-13  119.0
44 2024-02-14  148.0
45 2024-02-15  111.0
46 2024-02-16   97.0
47 2024-02-17  115.0
48 2024-02-18  137.0
49 2024-02-19   52.0
50 2024-02-20  143.0
51 2024-02-21   81.0
52 2024-02-22  149.0
53 2024-02-23   65.0
54 2024-02-24   59.0
55 2024-02-25   96.0
56 2024-02-26  112.0
57 2024-02-27   52.0
58 2024-02-28  127.0
59 2024-02-29  117.0
60 2024-03-01  131.0
61 2024-03-02   81.0
62 2024-03-03   52.0
63 2024-03-04   79.0
64 2024-03-05   99.0
65 2024-03-06  145.0
66 2024-03-07  107.0
67 2024-03-08   97.0
68 2024-03-09   99.0
69 2024-03-10  145.0
70 2024-03-11   65.0
71 2024-03-12   60.0
72 2024-03-13   57.0
73 2024-03-14   73.0
74 2024-03-15  124.0
75 2024-03-16  109.0
76 2024-03-17  118.0
77 2024-03-18  101.0
78 2024-03-19   96.0
79 2024-03-20  112.0
80 2024-03-21   91.0
81 2024-03-22  142.0
82 2024-03-23  113.0
83 2024-03-24  148.0
84 2024-03-25  119.0
85 2024-03-26   85.0
86 2024-03-27   66.0
87 2024-03-28  100.0
88 2024-03-29  132.0
89 2024-03-30  119.0
90 2024-03-31  104.0
91 2024-04-01  108.0
92 2024-04-02  110.0
93 2024-04-03   78.0
94 2024-04-04   78.0
95 2024-04-05  107.0
96 2024-04-06  135.0
97 2024-04-07  142.0
98 2024-04-08   78.0
99 2024-04-09   80.0

##### USING BACKWARD_FILL

In [13]:
df1 = df_time_series.copy()
df1['date'].fillna(method = 'bfill', inplace = True)

NOTE: backwward fill and forward fill is usually used in a systematically arranged feature such as time or any other arranged feature, either in ascedning or descending order

In [14]:
df1

         date  value
0  2024-01-01   70.0
1  2024-01-02  130.0
2  2024-01-03  107.0
3  2024-01-04   61.0
4  2024-01-05  125.0
5  2024-01-06  128.0
6  2024-01-08   71.0
7  2024-01-08  107.0
8  2024-01-09   55.0
9  2024-01-10  129.0
10 2024-01-14  143.0
11 2024-01-14  116.0
12 2024-01-14   62.0
13 2024-01-14   74.0
14 2024-01-15  140.0
15 2024-01-16   55.0
16 2024-01-17  135.0
17 2024-01-18  141.0
18 2024-01-20   73.0
19 2024-01-20   90.0
20 2024-01-22  113.0
21 2024-01-22  122.0
22 2024-01-24   58.0
23 2024-01-24   91.0
24 2024-01-26   89.0
25 2024-01-26  149.0
26 2024-01-27   81.0
27 2024-01-28   55.0
28 2024-01-29   92.0
29 2024-01-30  133.0
30 2024-01-31  119.0
31 2024-02-01  104.0
32 2024-02-02  131.0
33 2024-02-03  120.0
34 2024-02-04   55.0
35 2024-02-05  131.0
36 2024-02-07   95.0
37 2024-02-07   89.0
38 2024-02-08   59.0
39 2024-02-10  122.0
40 2024-02-10   91.0
41 2024-02-11   64.0
42 2024-02-12   60.0
43 2024-02-13  119.0
44 2024-02-14  148.0
45 2024-02-15  111.0
46 2024-02-16   97.0
47 2024-02-17  115.0
48 2024-02-18  137.0
49 2024-02-19   52.0
50 2024-02-20  143.0
51 2024-02-21   81.0
52 2024-02-22  149.0
53 2024-02-23   65.0
54 2024-02-24   59.0
55 2024-02-25   96.0
56 2024-02-26  112.0
57 2024-02-27   52.0
58 2024-02-28  127.0
59 2024-02-29  117.0
60 2024-03-01  131.0
61 2024-03-02   81.0
62 2024-03-03   52.0
63 2024-03-04   79.0
64 2024-03-05   99.0
65 2024-03-06  145.0
66 2024-03-07  107.0
67 2024-03-08   97.0
68 2024-03-09   99.0
69 2024-03-10  145.0
70 2024-03-11   65.0
71 2024-03-12   60.0
72 2024-03-13   57.0
73 2024-03-14   73.0
74 2024-03-15  124.0
75 2024-03-16  109.0
76 2024-03-17  118.0
77 2024-03-18  101.0
78 2024-03-19   96.0
79 2024-03-20  112.0
80 2024-03-21   91.0
81 2024-03-22  142.0
82 2024-03-23  113.0
83 2024-03-24  148.0
84 2024-03-25  119.0
85 2024-03-26   85.0
86 2024-03-27   66.0
87 2024-03-28  100.0
88 2024-03-29  132.0
89 2024-03-30  119.0
90 2024-03-31  104.0
91 2024-04-01  108.0
92 2024-04-02  110.0
93 2024-04-03   78.0
94 2024-04-04   78.0
95 2024-04-05  107.0
96 2024-04-06  135.0
97 2024-04-07  142.0
98 2024-04-08   78.0
99 2024-04-09   80.0

#### INTERPOLATION
works for systematically arranged data such as time.
Here, missing values are imputed based on their surrounding neighbours.

In [55]:
df2 = df_time_series.copy()
df2.head(10)

                  date  value
0  2024-01-01 00:00:00   70.0
1  2024-01-02 00:00:00  130.0
2  2024-01-03 00:00:00  107.0
3  2024-01-04 00:00:00   61.0
4  2024-01-05 00:00:00  125.0
5  2024-01-06 00:00:00  128.0
6                  NaN   71.0
7  2024-01-08 00:00:00  107.0
8  2024-01-09 00:00:00   55.0
9  2024-01-10 00:00:00  129.0

In [46]:
df2['date'].interpolate(method = 'linear', inplace = True)

In [47]:
df2.head(20)

                   date  value
0   2024-01-01 00:00:00   70.0
1   2024-01-02 00:00:00  130.0
2   2024-01-03 00:00:00  107.0
3   2024-01-04 00:00:00   61.0
4   2024-01-05 00:00:00  125.0
5   2024-01-06 00:00:00  128.0
6                   NaN   71.0
7   2024-01-08 00:00:00  107.0
8   2024-01-09 00:00:00   55.0
9   2024-01-10 00:00:00  129.0
10                  NaN  143.0
11                  NaN  116.0
12                  NaN   62.0
13  2024-01-14 00:00:00   74.0
14  2024-01-15 00:00:00  140.0
15  2024-01-16 00:00:00   55.0
16  2024-01-17 00:00:00  135.0
17  2024-01-18 00:00:00  141.0
18                  NaN   73.0
19  2024-01-20 00:00:00   90.0

In [61]:
df2['Day'] = df['date'].dt.day 
df2['Month'] = df['date'].dt.month
df2['Year'] = df['date'].dt.year
df2

                   date  value  Day  Month  Year
0   2024-01-01 00:00:00   70.0    1      1  2024
1   2024-01-02 00:00:00  130.0    2      1  2024
2   2024-01-03 00:00:00  107.0    3      1  2024
3   2024-01-04 00:00:00   61.0    4      1  2024
4   2024-01-05 00:00:00  125.0    5      1  2024
5   2024-01-06 00:00:00  128.0    6      1  2024
6                   NaN   71.0    6      1  2024
7   2024-01-08 00:00:00  107.0    8      1  2024
8   2024-01-09 00:00:00   55.0    9      1  2024
9   2024-01-10 00:00:00  129.0   10      1  2024
10                  NaN  143.0   10      1  2024
11                  NaN  116.0   10      1  2024
12                  NaN   62.0   10      1  2024
13  2024-01-14 00:00:00   74.0   14      1  2024
14  2024-01-15 00:00:00  140.0   15      1  2024
15  2024-01-16 00:00:00   55.0   16      1  2024
16  2024-01-17 00:00:00  135.0   17      1  2024
17  2024-01-18 00:00:00  141.0   18      1  2024
18                  NaN   73.0   18      1  2024
19  2024-01-20 00:00:00   90.0   20      1  2024
20                  NaN  113.0   20      1  2024
21  2024-01-22 00:00:00  122.0   22      1  2024
22                  NaN   58.0   22      1  2024
23  2024-01-24 00:00:00   91.0   24      1  2024
24                  NaN   89.0   24      1  2024
25  2024-01-26 00:00:00  149.0   26      1  2024
26  2024-01-27 00:00:00   81.0   27      1  2024
27  2024-01-28 00:00:00   55.0   28      1  2024
28  2024-01-29 00:00:00   92.0   29      1  2024
29  2024-01-30 00:00:00  133.0   30      1  2024
30  2024-01-31 00:00:00  119.0   31      1  2024
31  2024-02-01 00:00:00  104.0    1      2  2024
32  2024-02-02 00:00:00  131.0    2      2  2024
33  2024-02-03 00:00:00  120.0    3      2  2024
34  2024-02-04 00:00:00   55.0    4      2  2024
35  2024-02-05 00:00:00  131.0    5      2  2024
36                  NaN   95.0    5      2  2024
37  2024-02-07 00:00:00   89.0    7      2  2024
38  2024-02-08 00:00:00   59.0    8      2  2024
39                  NaN  122.0    8      2  2024
40  2024-02-10 00:00:00   91.0   10      2  2024
41  2024-02-11 00:00:00   64.0   11      2  2024
42  2024-02-12 00:00:00   60.0   12      2  2024
43  2024-02-13 00:00:00  119.0   13      2  2024
44  2024-02-14 00:00:00  148.0   14      2  2024
45  2024-02-15 00:00:00  111.0   15      2  2024
46  2024-02-16 00:00:00   97.0   16      2  2024
47  2024-02-17 00:00:00  115.0   17      2  2024
48  2024-02-18 00:00:00  137.0   18      2  2024
49  2024-02-19 00:00:00   52.0   19      2  2024
50  2024-02-20 00:00:00  143.0   20      2  2024
51  2024-02-21 00:00:00   81.0   21      2  2024
52  2024-02-22 00:00:00  149.0   22      2  2024
53  2024-02-23 00:00:00   65.0   23      2  2024
54  2024-02-24 00:00:00   59.0   24      2  2024
55  2024-02-25 00:00:00   96.0   25      2  2024
56  2024-02-26 00:00:00  112.0   26      2  2024
57  2024-02-27 00:00:00   52.0   27      2  2024
58  2024-02-28 00:00:00  127.0   28      2  2024
59  2024-02-29 00:00:00  117.0   29      2  2024
60  2024-03-01 00:00:00  131.0    1      3  2024
61  2024-03-02 00:00:00   81.0    2      3  2024
62  2024-03-03 00:00:00   52.0    3      3  2024
63  2024-03-04 00:00:00   79.0    4      3  2024
64  2024-03-05 00:00:00   99.0    5      3  2024
65  2024-03-06 00:00:00  145.0    6      3  2024
66  2024-03-07 00:00:00  107.0    7      3  2024
67  2024-03-08 00:00:00   97.0    8      3  2024
68  2024-03-09 00:00:00   99.0    9      3  2024
69  2024-03-10 00:00:00  145.0   10      3  2024
70  2024-03-11 00:00:00   65.0   11      3  2024
71  2024-03-12 00:00:00   60.0   12      3  2024
72  2024-03-13 00:00:00   57.0   13      3  2024
73  2024-03-14 00:00:00   73.0   14      3  2024
74  2024-03-15 00:00:00  124.0   15      3  2024
75  2024-03-16 00:00:00  109.0   16      3  2024
76  2024-03-17 00:00:00  118.0   17      3  2024
77  2024-03-18 00:00:00  101.0   18      3  2024
78  2024-03-19 00:00:00   96.0   19      3  2024
79  2024-03-20 00:00:00  112.0   20      3  2024
80  2024-03-21 00:00:00   91.0   21      3  2024
81  2024-03-22 00:00:00  142.0   22      3  2024
82  2024-03-23 00:00:00  113.0   23      3  2024
83  2024-03-24 00:00:00  148.0   24      3  2024
84  2024-03-25 00:00:00  119.0   25      3  2024
85  2024-03-26 00:00:00   85.0   26      3  2024
86  2024-03-27 00:00:00   66.0   27      3  2024
87  2024-03-28 00:00:00  100.0   28      3  2024
88  2024-03-29 00:00:00  132.0   29      3  2024
89  2024-03-30 00:00:00  119.0   30      3  2024
90  2024-03-31 00:00:00  104.0   31      3  2024
91  2024-04-01 00:00:00  108.0    1      4  2024
92  2024-04-02 00:00:00  110.0    2      4  2024
93  2024-04-03 00:00:00   78.0    3      4  2024
94  2024-04-04 00:00:00   78.0    4      4  2024
95  2024-04-05 00:00:00  107.0    5      4  2024
96  2024-04-06 00:00:00  135.0    6      4  2024
97  2024-04-07 00:00:00  142.0    7      4  2024
98  2024-04-08 00:00:00   78.0    8      4  2024
99  2024-04-09 00:00:00   80.0    9      4  2024

In [ ]:
df2

#### ADVANCED IMPUTATION
This is usually used for large imputations

In [66]:
df4 = pd.read_csv('missing_data.csv')
df4.head()

    Age   Salary  Experience Department
0  56.0  28392.0        31.0         IT
1  46.0  50535.0        31.0         HR
2  32.0  33067.0        23.0  Marketing
3  25.0  68033.0        11.0  Marketing
4  38.0  72256.0        38.0  Marketing

In [64]:
from sklearn.impute import KNNImputer

In [72]:
imputer = KNNImputer(n_neighbors = 5)
df4['Salary'] = imputer.fit_transform(df4[['Salary']])
df4

     Age        Salary  Experience Department
0   56.0  28392.000000        31.0         IT
1   46.0  50535.000000        31.0         HR
2   32.0  33067.000000        23.0  Marketing
3   25.0  68033.000000        11.0  Marketing
4   38.0  72256.000000        38.0  Marketing
5   56.0  51451.088889         1.0  Marketing
6   36.0  55222.000000         2.0        NaN
7   40.0  31837.000000        36.0      Sales
8   28.0  34039.000000        16.0      Sales
9   28.0  78148.000000         1.0         HR
10   NaN  50818.000000         1.0  Marketing
11  53.0  39115.000000        27.0         HR
12  57.0  30965.000000        22.0  Marketing
13  41.0  44538.000000        36.0  Marketing
14  20.0  62530.000000        31.0      Sales
15  39.0  25056.000000        32.0      Sales
16  19.0  52482.000000         0.0         IT
17  41.0  67716.000000        18.0      Sales
18  47.0  28110.000000         1.0         IT
19  55.0  51451.088889        25.0         IT
20  19.0  47266.000000        31.0         IT
21  38.0  51451.088889         5.0         IT
22  50.0  37412.000000        31.0         IT
23  29.0  76537.000000         3.0         HR
24  39.0  53270.000000        10.0      Sales
25  42.0  26910.000000        16.0         IT
26  44.0  65453.000000        37.0  Marketing
27  59.0  45446.000000        23.0      Sales
28  45.0  76090.000000         4.0      Sales
29  33.0  51451.088889         NaN         IT
30  32.0  20206.000000         5.0         HR
31  20.0  41518.000000         NaN         IT
32  54.0  42361.000000        10.0         HR
33  24.0  76873.000000        15.0  Marketing
34  38.0  43419.000000        32.0      Sales
35  26.0  70636.000000         8.0  Marketing
36  56.0  51451.088889         5.0         HR
37   NaN  68702.000000        15.0         HR
38  21.0  70015.000000        28.0  Marketing
39  42.0  71942.000000         2.0         HR
40  31.0  76560.000000         NaN  Marketing
41  26.0  61523.000000        35.0      Sales
42  43.0  74268.000000         NaN  Marketing
43  19.0  65151.000000        25.0      Sales
44  37.0  51451.088889         2.0  Marketing
45  45.0  38141.000000        18.0         HR
46  24.0  34820.000000        19.0  Marketing
47  25.0  60342.000000        31.0         HR
48  52.0  26374.000000         6.0  Marketing
49  31.0  76044.000000        32.0  Marketing
50  34.0  21678.000000        39.0         IT
51  53.0  72394.000000        38.0         HR
52  57.0  73788.000000        17.0         IT
53  21.0  53827.000000        39.0         HR
54  19.0  75820.000000         0.0         IT
55  23.0  36198.000000        10.0      Sales
56  59.0  29914.000000        27.0  Marketing
57  21.0  47890.000000        24.0         HR
58  46.0  72309.000000        22.0         HR
59  35.0  42299.000000        30.0  Marketing
60  43.0  63585.000000         NaN         HR
61  51.0  63689.000000         NaN         HR
62  27.0  62557.000000         6.0         IT
63  53.0  69080.000000        15.0         HR
64  31.0  64020.000000        25.0      Sales
65  48.0  22693.000000         1.0      Sales
66  32.0  49467.000000         0.0  Marketing
67  25.0  51451.088889        11.0         HR
68  31.0  66699.000000         4.0        NaN
69  40.0  23627.000000        36.0      Sales
70  57.0  45939.000000        31.0         HR
71   NaN  68925.000000         8.0         HR
72   NaN  62941.000000        34.0  Marketing
73  35.0  41834.000000        18.0      Sales
74  41.0  38047.000000        15.0         HR
75  43.0  46105.000000         2.0  Marketing
76  42.0  30230.000000        19.0      Sales
77   NaN  35707.000000        23.0  Marketing
78   NaN  41976.000000        32.0         IT
79  32.0  64262.000000        23.0         HR
80  18.0  79581.000000        10.0         IT
81  42.0  43776.000000         7.0      Sales
82   NaN  51451.088889        35.0         IT
83  26.0  21306.000000         NaN        NaN
84  41.0  26776.000000        39.0      Sales
85   NaN  47251.000000         NaN  Marketing
86  25.0  75016.000000        34.0         IT
87  41.0  29474.000000         NaN  Marketing
88  28.0  60294.000000        34.0         IT
89   NaN  78053.000000        24.0  Marketing
90  25.0  41959.000000        28.0      Sales
91   NaN  51451.088889         NaN        NaN
92  52.0  49320.000000        17.0      Sales
93  50.0  73565.000000         1.0         IT
94  22.0  23748.000000        34.0        NaN
95  59.0  51968.000000        15.0      Sales
96  56.0  52562.000000        35.0         IT
97  58.0  33545.000000        32.0         IT
98  45.0  51451.088889         3.0         IT
99  24.0  54766.000000        32.0         HR

In [71]:
df4['Salary'].shape

(100,)

In [70]:
df4

     Age   Salary  Experience Department
0   56.0  28392.0        31.0         IT
1   46.0  50535.0        31.0         HR
2   32.0  33067.0        23.0  Marketing
3   25.0  68033.0        11.0  Marketing
4   38.0  72256.0        38.0  Marketing
5   56.0      NaN         1.0  Marketing
6   36.0  55222.0         2.0        NaN
7   40.0  31837.0        36.0      Sales
8   28.0  34039.0        16.0      Sales
9   28.0  78148.0         1.0         HR
10   NaN  50818.0         1.0  Marketing
11  53.0  39115.0        27.0         HR
12  57.0  30965.0        22.0  Marketing
13  41.0  44538.0        36.0  Marketing
14  20.0  62530.0        31.0      Sales
15  39.0  25056.0        32.0      Sales
16  19.0  52482.0         0.0         IT
17  41.0  67716.0        18.0      Sales
18  47.0  28110.0         1.0         IT
19  55.0      NaN        25.0         IT
20  19.0  47266.0        31.0         IT
21  38.0      NaN         5.0         IT
22  50.0  37412.0        31.0         IT
23  29.0  76537.0         3.0         HR
24  39.0  53270.0        10.0      Sales
25  42.0  26910.0        16.0         IT
26  44.0  65453.0        37.0  Marketing
27  59.0  45446.0        23.0      Sales
28  45.0  76090.0         4.0      Sales
29  33.0      NaN         NaN         IT
30  32.0  20206.0         5.0         HR
31  20.0  41518.0         NaN         IT
32  54.0  42361.0        10.0         HR
33  24.0  76873.0        15.0  Marketing
34  38.0  43419.0        32.0      Sales
35  26.0  70636.0         8.0  Marketing
36  56.0      NaN         5.0         HR
37   NaN  68702.0        15.0         HR
38  21.0  70015.0        28.0  Marketing
39  42.0  71942.0         2.0         HR
40  31.0  76560.0         NaN  Marketing
41  26.0  61523.0        35.0      Sales
42  43.0  74268.0         NaN  Marketing
43  19.0  65151.0        25.0      Sales
44  37.0      NaN         2.0  Marketing
45  45.0  38141.0        18.0         HR
46  24.0  34820.0        19.0  Marketing
47  25.0  60342.0        31.0         HR
48  52.0  26374.0         6.0  Marketing
49  31.0  76044.0        32.0  Marketing
50  34.0  21678.0        39.0         IT
51  53.0  72394.0        38.0         HR
52  57.0  73788.0        17.0         IT
53  21.0  53827.0        39.0         HR
54  19.0  75820.0         0.0         IT
55  23.0  36198.0        10.0      Sales
56  59.0  29914.0        27.0  Marketing
57  21.0  47890.0        24.0         HR
58  46.0  72309.0        22.0         HR
59  35.0  42299.0        30.0  Marketing
60  43.0  63585.0         NaN         HR
61  51.0  63689.0         NaN         HR
62  27.0  62557.0         6.0         IT
63  53.0  69080.0        15.0         HR
64  31.0  64020.0        25.0      Sales
65  48.0  22693.0         1.0      Sales
66  32.0  49467.0         0.0  Marketing
67  25.0      NaN        11.0         HR
68  31.0  66699.0         4.0        NaN
69  40.0  23627.0        36.0      Sales
70  57.0  45939.0        31.0         HR
71   NaN  68925.0         8.0         HR
72   NaN  62941.0        34.0  Marketing
73  35.0  41834.0        18.0      Sales
74  41.0  38047.0        15.0         HR
75  43.0  46105.0         2.0  Marketing
76  42.0  30230.0        19.0      Sales
77   NaN  35707.0        23.0  Marketing
78   NaN  41976.0        32.0         IT
79  32.0  64262.0        23.0         HR
80  18.0  79581.0        10.0         IT
81  42.0  43776.0         7.0      Sales
82   NaN      NaN        35.0         IT
83  26.0  21306.0         NaN        NaN
84  41.0  26776.0        39.0      Sales
85   NaN  47251.0         NaN  Marketing
86  25.0  75016.0        34.0         IT
87  41.0  29474.0         NaN  Marketing
88  28.0  60294.0        34.0         IT
89   NaN  78053.0        24.0  Marketing
90  25.0  41959.0        28.0      Sales
91   NaN      NaN         NaN        NaN
92  52.0  49320.0        17.0      Sales
93  50.0  73565.0         1.0         IT
94  22.0  23748.0        34.0        NaN
95  59.0  51968.0        15.0      Sales
96  56.0  52562.0        35.0         IT
97  58.0  33545.0        32.0         IT
98  45.0      NaN         3.0         IT
99  24.0  54766.0        32.0         HR